<div id="component">

  <h3>List of Users</h3>

  <table class="table table-sm">
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Reviewer?</th>
      <th>Admin?</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.firstname}} {{user.lastname}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.email}}</td>
      <td>{{user.isReviewer ? "Y" : "N"}}</td>
      <td>{{user.isAdmin ? "Y" : "N"}}</td>
    </tr>
  </table>
</div>